{% extends 'security/security.html.twig' %}

{% block body %}
        <div class="form">
        <h1>Créer un compte</h1>
        <div>
            {{ form_start(form) }}
            {{ form_row(form.fullName) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <button class="btn btn-lg btn-danger btn-block" type="submit" id="signup">Créer un compte</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



