{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-4">
        {{ form_start(form) }}
        {{ form_row(form.fullName, {'label': 'Nom'}) }}
        {{ form_row(form.username, {'label': 'Pseudo'}) }}
        {{ form_row(form.email, {'label': 'E-mail'}) }}
        {{ form_row(form.password, {'label': 'Mot de passe'}) }}
        <input type="submit" value="envoyer" formnovalidate="formnovalidate">
        {{ form_end(form) }}
    </div>
{% endblock %}

