{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-4">
        {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">Créer mon compte</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

