{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="col-4">
        <h1>Créer un nouvel article</h1>

        {{ form_start(form) }}
            {{ form_row(form.title, {'label': 'Titre'}) }}
            {{ form_row(form.content, {'label': 'Contenu'}) }}
            {{ form_row(form.tags, {'label': 'Tag'}) }}
            {{ form_row(form.image, {'label': false}) }}
            <input type="submit" value="envoyer" formnovalidate="formnovalidate">
        {{ form_end(form) }}
    </div>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=bbv13m6hc1f23tbu2cwfob2jhn4hx2d3vkrzpsgv2p5wky4y"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
{% endblock %}



