<section class="box-article">
    <h3 class="article-title article-title-2">team</h3>
    <div class="team_logo">
        <a href="{{ path('team_post', {tag: 'boston'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/celtics.png">
        </a>
        <a href="{{ path('team_post', {tag: 'brooklyn'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/nets.png">
        </a>
        <a href="{{ path('team_post', {tag: 'new-york'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/knicks.png">
        </a>
        <a href="{{ path('team_post', {tag: 'philadelphie'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/sixers.png">
        </a>
        <a href="{{ path('team_post', {tag: 'toronto'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/raptors.png">
        </a>
        <a href="{{ path('team_post', {tag: 'chicago'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/bulls.png">
        </a>
        <a href="{{ path('team_post', {tag: 'cleveland'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/cavaliers.png">
        </a>
        <a href="{{ path('team_post', {tag: 'detroit'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/pistons.png">
        </a>
        <a href="{{ path('team_post', {tag: 'indiana'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/pacers.png">
        </a>
        <a href="{{ path('team_post', {tag: 'milwaukee'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/bucks.png">
        </a>
    </div>
    <div class="team_logo">
        <a href="{{ path('team_post', {tag: 'atlanta'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/hawks.png">
        </a>
        <a href="{{ path('team_post', {tag: 'charlotte'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/07/hornets.png">
        </a>
        <a href="{{ path('team_post', {tag: 'miami'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/heat.png">
        </a>
        <a href="{{ path('team_post', {tag: 'orlando'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/magic.png">
        </a>
        <a href="{{ path('team_post', {tag: 'washington'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/wizards.png">
        </a>
        <a href="{{ path('team_post', {tag: 'dallas'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/mavericks.png">
        </a>
        <a href="{{ path('team_post', {tag: 'houston'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/rockets.png">
        </a>
        <a href="{{ path('team_post', {tag: 'memphis'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/grizzlies.png">
        </a>
        <a href="{{ path('team_post', {tag: 'new-orleans'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/pelicans.png">
        </a>
        <a href="{{ path('team_post', {tag: 'spurs'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/spurs.png">
        </a>
    </div>
    <div class="team_logo">
        <a href="{{ path('team_post', {tag: 'denver'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/nuggets.png">
        </a>
        <a href="{{ path('team_post', {tag: 'minnesota'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/timberwolves.png">
        </a>
        <a href="{{ path('team_post', {tag: 'portland'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/blazers.png">
        </a>
        <a href="{{ path('team_post', {tag: 'oklahoma'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/thunder.png">
        </a>
        <a href="{{ path('team_post', {tag: 'utah'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/jazz.png">
        </a>
        <a href="{{ path('team_post', {tag: 'golden-state'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/warriors.png">
        </a>
        <a href="{{ path('team_post', {tag: 'los-angeles-lakers'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/lakers.png">
        </a>
        <a href="{{ path('team_post', {tag: 'los-angeles-clippers'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/clippers.png">
        </a>
        <a href="{{ path('team_post', {tag: 'phoenix'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/suns.png">
        </a>
        <a href="{{ path('team_post', {tag: 'sacramento'}) }}">
            <img src="http://trashtalk.co/wp-content/uploads/2014/01/kings.png">
        </a>
    </div>
</section>