{% extends 'base.html.twig' %}

{% block body %}
    <div class="form">
        <h1>Contact</h1>
        {{ form_start(formCont) }}
        {{ form_row(formCont.name) }}
        {{ form_row(formCont.email) }}
        {{ form_row(formCont.subject) }}
        {{ form_row(formCont.message) }}
        <button class="btn btn-lg btn-danger btn-block" type="submit">Envoyer</button>
        {{ form_end(formCont) }}
    </div>
{% endblock %}

{% block sidebar %} {% endblock %}