{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
	{# THUMBNAIL #}
	<div class="container-thumbnail">
		<div class="row">
				{# THUMBNAIL - MAIN #}
            <div class="featured-article">
                <a href="{{ path('blog_post', {'slug': slider.slug}) }}">
                    <img src="{{ slider.image.url }}" alt="{{ slider.image.alt }}" class="thumb">
                </a>
                <div class="block-title">
                    <h2>{{ slider.title }}</h2>
                </div>
            </div>

			{# THUMBNAIL - SECONDARY #}
            <ul class="media-list main-list">
                {% for fourSlider in fourSliders %}
                    <li>
                        <div class="img-media-list">
                            <a class="pull-left" href="{{ path('blog_post', {'slug': fourSlider.slug}) }}">
                                <img class="media-object" src="{{ fourSlider.image.url }}" alt="{{ fourSlider.image.alt }}">
                            </a>
                        </div>
                        <div class="media-title">
                            <a href="{{ path('blog_post', {'slug': fourSlider.slug}) }}">
                                <h4>{{ fourSlider.title }}</h4>
                            </a>
                        </div>
                        <div class="media-text">
                            <p>{{ fourSlider.content|slice(0, 250)|raw }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
		</div>
	</div>

    {# SECTION - TEAM #}
    {{ include('post/include/_section_team.html.twig') }}

	{# SECTION - RESUME #}
    {{ render(controller('App\\Controller\\PostController::lastResume')) }}

    {# SECTION - ARTICLE #}
    {{ render(controller('App\\Controller\\PostController::lastArticle')) }}

{% endblock %}
