{% extends 'base.html.twig' %}
{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="chat">
            <div id="messages">
                {% for msg in msgs %}
                    <p data-id="{{ msg.id }}" data-team="{{ msg.team }}"> <span>{{ msg.publishedAt|date('d/m/y à h:i:s') }}</span> <span>{{ msg.pseudo.fullName }} </span> : {{ msg.content }}</p>
                {% endfor %}
            </div>
            {% include 'post/include/_send_msg.html.twig' %}

        {% else %}

            <p>
                <a href="{{ path('login') }}">Veuillez vous connecter pour accéder au chat</a>
            </p>
        </div>
    {% endif %}

    <ul>

        {% for post in posts %}
            <div class="billet-list">
                <a href="{{ path('blog_post', {'slug': post.slug}) }}" class="billet-photo">
                    <img width="180" height="180" src="{{ post.image.url }}" alt="{{ post.image.alt }}" class="attachment-vignettes-carrees size-vignettes-carrees">
                </a>
                <a href="{{ path('blog_post', {'slug': post.slug}) }}">
                    <h4>{{ post.title }}</h4>
                </a>
                <div class="billet-date"></div>
                <div class="billet-texte">
                    {{ post.content|slice(0, 250) }} ...
                    <a href="" class="more">Lire la suite</a>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ asset('assets/js/chat.js') }}"></script>
    {% endblock %}